@import url('https://fonts.googleapis.com/css2?family=Basic&family=Fredericka+the+Great&display=swap');

:root
{
    --active-hover-highlight-color: #2FC4C6;
    --text-color: #645844;
    --light-text: white;
}
body
{
    
   background-color: var(--light-text);
   margin: 0%;
}

a
{
    text-decoration: none;
    color: black;
    
}

/*Start of hero section*/

.hero_section 
{
    padding: 80px 167px 80px 167px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero_info {
   margin: 50px;
  }
  
  .hero_images {
   margin: 24px;
  }
  
  .info_titles h1
  {
    color: rgb(95, 68, 68);
    font-size: 32px;
    letter-spacing: 1px; 
    text-align: center;
    font-family: "Fredericka the Great", fantasy;
    font-weight: calc(500 + 10%);
    font-style:normal;
  }
  .info_titles span{
    color: #a9b709;
    text-align: center;

  }
  .info_titles h4
  {
    font-size: 24px;
  }
  .title {
    margin-bottom: 14px; /* Adjust as needed */
  }
  .info_titles p
  {
    font-size: 22px;
  }
  .hero_list li
  {
    font-size: 20px;
    font-weight: 550;
    padding: 4px;
    color: rgb(2, 2, 2);
    list-style: none;
  }
  .hero_list a
  {
    font-size: 20px;
    font-weight: bolder;
    font-weight: 550;
    padding: 4px;
    letter-spacing: 0.1em; 
    color: #a9b709;
    font-family: "Fredericka the Great", serif;
  }
  .hero_list a:hover
  {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    color:#2FC4C6; 
    border: 1px solid #d3d3d3; 
    background-color: transparent;
    transition: background-color 0.3s ease;

  }
  .blockquote
  {
    font-size: 20px;
  }

  
  .Learn_more {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        color:#2FC4C6; 
        border: 1px solid #000; 
        background-color: transparent;
        transition: background-color 0.3s ease;
        font-size: larger;
        font-weight: 700;
  }
  .Learn_more:hover
  {
    background-color: #2FC4C6; 
    color: #fff; 
  }
  
  
  
.img-group {
    position: relative;
    width: 456px; 
    height: 513px; 
    justify-content: center;
    align-items: center;
}
  
.img-group img {
    position: absolute;

}

.img-group img:nth-child(1) {
    width: 296px;
    height: 353px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0; /* Bring the first image to the front */
}
  
.img-group img:nth-child(2) {
    width: 160px; /* width of the smaller images */
    height: auto;
    top: 0;
    left: 0;
    z-index: -1; /* Lower the z-index to ensure it's behind the first image */
}
  
.img-group img:nth-child(3) {
    width: 160px; /* width of the smaller images */
    height: auto;
    bottom: 0;
    right: 0;
    z-index: -1; /* Lower the z-index to ensure it's behind the first image */
}
  


/*End of hero section*/


/*article*/
.article_cat
{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.article_card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.article_card:hover {
    transform: translateY(-5px);
}

.article_card img {
    width: 300px;
   height: 167.8px;
    border-radius: 5px;
}

.article_info {
    padding: 10px 0;
}

.article_info h2 {
    font-size: 18px;
    margin: 5px 0;
}

.article_info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

/**/

  
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
