/* book section */
.books_sec {
    padding: 0px 167px 0px 167px; 
    text-align: center; 
}

.books_cat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}

.book {
    margin: 10px;
    width: 300px;
    height: 750px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 1.5em;
    box-sizing: border-box;
    position: relative; 
}

.books_sec h1 {
    margin-top: 50px;
    font-size: 38px;
}

.book img {
    width: 100%;
    height: 480px;
    border-radius: 1.5em 1.5em 0em 0em;
    margin-bottom: 10px;
}

.book h2,
.book p {
    margin: 10px;
    text-align: left;
}

.read_more {
    color: #357eea;
}

.download {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.download:hover {
    background-color: #0056b3;
}


/*Articles section*/

.articles_sec {
    padding: 0px 167px 0px 167px; 
    text-align: center; 
}
.articles_sec h1 {
    margin-top: 80px;
    font-size: 38px;
}

.article_cat {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-content: center;
}


/* Styling for the article card */
.article_card {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.article_card:hover {
    transform: translateY(-5px);
}

.article_card img {
    width: 300px;
   height: 167.8px;
    border-radius: 5px;
}

.article_info {
    padding: 10px 0;
}

.article_info h2 {
    font-size: 18px;
    margin: 5px 0;
}

.article_info p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}
