body
{
    
   background-color: white;
   margin: 0%;
}
.nav_content {
    font-family: Arial, sans-serif;
    padding:0px 167px 0px 167px;
}

.nav_pages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu_item {
    display: inline-block;
    position: relative;
    margin: 0 12px; 
    padding: 10px 34px;
    border-top: 1px solid #645844;
    border-bottom: 1px solid #645844;
}

.submenu_container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2FC4C6; /* Background color when submenu is displayed */
    padding: 10px;
    min-width: 120px;
    z-index: 1;
  
}
.submenu_container :hover
{
    color: white;
}
.menu_item:hover .submenu_container {
    display: block;
}

.submenu li {
    border: transparent;
}

.menu_item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #645844 /* Text color when submenu is displayed */
}

.menu_item a:hover {
    background-color: #2FC4C6;
   /* Text color on hover */
}
